<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta name="sessionID" th:value="${sessionID}" />
<title>Results</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
	<noscript>
		<h2 style="color: #ff0000">Seems your browser doesn't support
			Javascript! Websocket relies on Javascript being enabled. Please
			enable Javascript and reload this page!</h2>
	</noscript>
	<div th:include="navigation :: navigation"></div>

	<h3>Repair Analysis Results</h3>
	<form th:object="${UploadForm}" method="POST" action=""
		enctype="multipart/form-data">
		Model.attribute.sessionID: <span th:text="${sessionID}"></span>
	</form>
	<div class="msg" id="feedback">Messages:</div>
	<script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/messanger.js"></script>
</body>
</html>